.tile {
  display: inline-flex;
  background-color: #dedede;
}

.floor {
}

.wall1 {
  background-image: url("/tiles/wall1.png");
}

.wall2 {
  background-image: url("/tiles/wall2.png");
}

.table1 {
  background-image: url("/tiles/table1.png");
}

.table2 {
  background-image: url("/tiles/table2.png");
}

.table3 {
  background-image: url("/tiles/table3.png");
}

.table4 {
  background-image: url("/tiles/table4.png");
}

.table5 {
  background-image: url("/tiles/table5.png");
}

.table6 {
  background-image: url("/tiles/table6.png");
}

.table7 {
  background-image: url("/tiles/table7.png");
}

.table8 {
  background-image: url("/tiles/table8.png");
}
